<!-- Handlebars Partial for new post window that shows up on the dashboard-->
    <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-md-12 text-center">
    <div id="loading" style="display: none;">
        <img src="https://i.gifer.com/yy3.gif" alt="Loading..."/> <!--loading gif -->
    <p>Loading...</p> <!--loading message-->
    </div>
    <form id="post_form" class="formula" name="post_form" action="/dashboard/viewposts/createnew" method="POST" style="background-image: url('{{imageUrl}}')">
        <div class="py-2 form-group">
            <label for="postTitle">Title</label>
            <input type="text" name="postTitle" required placeholder="Please enter Post title: " id="postTitle">
            <span></span>
        </div>
        <div class="py-2 form-group" >
            <label for="postContent">Content</label>
            <textarea name="postContent" required placeholder="Enter your content here" id="postContent" ></textarea>
            <span></span>
        </div>
        <div class="py-1 form-group btns">
            <input type="submit" id="post-submit" name="post-submit" value="Post">
        </div>
    </form>
    <script>
    CKEDITOR.replace( 'postContent', {
               height: 300,
        width: '100%',
        toolbarGroups: [
            { name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
            { name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
            { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ] },
            '/',
            { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
            { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ] },
            { name: 'links' },
            { name: 'insert' },
            '/',
            { name: 'styles' },
            { name: 'colors' },
            { name: 'tools' },
            { name: 'others' },
            { name: 'about' }
        ]
    } );
</script>
</div>
