    <div class="jumbotron jumbotron-fluid" id="banner" style="background-image: url(/img/contact-bk.jpg);">
    <div class="container text-center text-md-left">
<header>
    <div class="row justify-content-between">
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <img src="/img/tech4.png" alt="logo">
        </div>
        <div data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="col-md-6 flex-md-last">
        <div class="col-lg-8 col-md-8 col-sm-12 col-12 align-self-center d-flex flex-lg-row flex-md-row flex-sm-row flex-row justify-content-sm-center">
            <a href="https://github.com/guymorganb"><img src="https://s2.svgbox.net/social.svg?ic=github&color=98FF98" alt="Link to Github" class="icon mr-lg-2 my-lg-0 my-md-2 flex-fill text-center"></a>
            <a href="https://www.instagram.com/guymorganb/"><img src="https://s2.svgbox.net/social.svg?ic=instagram&color=405DE6" alt="Link to Instagram" class="icon mr-lg-2 my-lg-0 my-md-2 flex-fill text-center"></a>
            <a href="https://www.linkedin.com/in/guymorganb/"><img src="https://s2.svgbox.net/social.svg?ic=linkedin&color=87CEEB" alt="Link to Linkedin" class="icon mr-lg-2 my-lg-0 my-md-2 flex-fill text-center"></a>
            <a href="http://www.guymorganb.com/"><img src="https://s2.svgbox.net/files.svg?ic=webp" alt="Link to GitHub pages" class="icon mr-lg-2 my-lg-0 my-md-2 flex-fill text-center"></a>
            <a href="mailto:youremail@example.com?subject=Hello_from_blog&body=-From CMS Blog."><img src="https://s2.svgbox.net/materialui.svg?ic=email&color=ffffff" alt="Contact" class="icon mr-lg-2 my-lg-0 my-md-2 flex-fill text-center"></a>
        </div>
        </div>
    </div>
</header>
        <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-white font-weight-bold my-5 metallic-text">
            Contact<br>

        </h1>
        <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white my-4">
            
            <br>
        </p>
        <a href="/" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 mr-4 font-weight-bold atlas-cta cta-green">Home</a>
    
        <a href="/dashboard" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 font-weight-bold atlas-cta cta-green">Dashboard</a>
    </div>
</div>
<div class="jumbotron jumbotron-fluid feature" id="feature-last">
    <div class="container">
        <div class="row justify-content-between text-center text-md-left">
            <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 flex-md-last">
                <p class="my-4">
                    Maybe some links in the footer
                    <br> &More content in here for the footer
                </p>
                <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-blue">Learn More</a>
            </div>
            <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center flex-md-first">
                <img src="/img/feature-1.png" alt="Safe and reliable" class="mx-auto d-block">
            </div>
        </div>
    </div>
</div>
