    <div class="jumbotron jumbotron-fluid" id="banner" style="background-image: url(/img/banner-bk.jpg);">
    <div class="container text-center text-md-left">
<header>
    <div class="row justify-content-between">
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <img src="/img/tech4.png" alt="logo">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-12 align-self-center d-flex flex-lg-row flex-md-column flex-sm-row flex-column justify-content-sm-center">
            <a href="/" class="text-white mr-lg-5 my-lg-0 my-md-2 flex-fill text-center">Home</a>
        </div>
    </div>
</header>
        <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-white font-weight-bold my-5 metallic-text">
            The Tech Blog<br>

        </h1>
        <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white my-4">
            <br>...Not registered yet?
        </p>
        <a href="/signUp" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 font-weight-bold atlas-cta cta-green">Sign-up</a>
    </div>
</div>
<div class="container my-5 py-2 ">
       <div data-aos="fade-right" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-md-12 text-center" >
    <h2 class="text-center font-weight-bold my-5">Login:</h2>
    </div>
    <div class="col-12 login">
    <div data-aos="fade-left" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-md-12 text-center" > 
   <main>
    <form id="login_form" class="formula" name="login_form" action="/login" method="post"style="background-image: url('{{imageUrl}}')">
        <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="text" id="email" name="email" required placeholder="Email">
            
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required placeholder="Password">
        </div>

        <div class="form-group btns">
            <input type="submit" id="login" name="login" value="Login">
            <input type="reset" id="reset" name="reset" value="Reset">
        </div>
    </form>
</main>

    </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid feature" id="feature-last">
    <div class="container">
        <div class="row justify-content-between text-center text-md-left">
            <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="col-md-6 flex-md-last">
                <h2 class="font-weight-bold">Safe and reliable</h2>
                <p class="my-4">
                    Maybe some links
                    <br> More content in here for the footer
                </p>
                <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-blue">Learn More</a>
            </div>
            <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="col-md-6 align-self-center flex-md-first">
                <img src="/img/feature-1.png" alt="Safe and reliable" class="mx-auto d-block">
            </div>
        </div>
    </div>
</div>
