.formula {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
    border-radius: 10px; /* Rounded corners */
    overflow: hidden;
}
.messages {
    list-style-type: none; /* Removes bullet points */
    border: 2px solid #73abe8;
    border-radius: 2em;
    font-family: 'Playfair Display', serif;
}

.messages li {
    color: red; /* Makes text red */
}

.form-group {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.btns{
    display: flex;
    flex-direction: row;
}
#Sign-up:hover {
    box-shadow: 0px 0px 10px lightgray !important;
    transform: scale(1.05) !important;
}
#clear:hover {
    box-shadow: 0px 0px 10px lightgray !important;
    transform: scale(1.05) !important;
}
input[type="text"]{
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
}

input[type="submit"],
input[type="reset"] {
    margin-top: 0.5em; /* Add top margin for spacing */
    margin-right: 0.5em; /* Add right margin for spacing */
    padding: 0.5em 1em; /* Adjust padding for button size */
    background-color: #73abe8; /* Button background color */
    color: white; /* Button text color */
    border: 2px solid lightgray !important;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    transition: 0.3s !important;
    font-family: 'Caveat', serif;
}
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}